.form-control {
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #fff;
	color: white;
	border-radius: 0;
}

.form-control:focus,.form-control:hover,.form-control:active {
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #fff;
	color: white;
	outline: none;
	border-radius: 0;
}


.form-control:-webkit-autofill {
    -webkit-text-fill-color: white;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.link-mini {
	text-decoration: none;
	font-size: 13px;
	color: white
}

.link-mini:hover {
	text-decoration: none;
	font-size: 13px;
	color: white
}

.form-label-group > label {
	color:white;
}

.form-label-group input:not(:placeholder-shown) ~ label {
	color:white;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

input:active {
	outline:0;
}